include ../__main

mixin resource(resourceId, resourceData)
	figure
		img.thumbnail(style=`border-left: 4px solid ${resourceData.meta.color};` decoding='async' loading='lazy' src=`/${resourceId}/thumbnail` onclick=`updateViewer('${resourceId}', '/${resourceId}/direct', '${resourceData.originalname}', '${resourceData.mimetype}');`)&attributes(attrs)
		figcaption
			span(title=resourceData.originalname)!= resourceData.originalname
			br
			span.metadata #{resourceData.meta.timestamp} (#{resourceData.meta.size})
			br
			- var domain = resourceData.domain || 'https://ass.rip';
			.buttons(class=resourceId style='display: none;')
				button.resource-buttons(class=resourceId onclick=`window.location = '${domain}/${resourceId}/direct?download=yes';`) Download
				button.resource-buttons(class=resourceId onclick=`copyUrl('${domain}/${resourceId}');`) Copy URL
				button.resource-buttons(class=resourceId onclick=`window.open('${domain}/${resourceId}/delete/${resourceData.deleteId}');`) Delete

title ass-x Dashboard
center.blur.unblur#content
	h2 Welcome, #{user.username}!
	h4 #[strong Total uploads:] #{uploads.length}
	#uploads: each resource, _index in uploads
		+resource(resource[0], resource[1])
	+brand
#viewer(style='display: none;' onclick='closeViewer();'): #viewer-frame: <!-- None -->

style: include user.css
script
	include user.js
	