include ../__main

mixin resource(resourceId, resourceData)
	figure
		style !{resourceData.meta.borderCss}
		img.thumbnail(class=resourceId decoding='async' loading='lazy' src=`/${resourceId}/thumbnail` onclick=`updateViewer('${resourceId}', '/${resourceId}/direct', '${resourceData.originalname}', '${resourceData.mimetype}');`)&attributes(attrs)
		figcaption
			.file-title(title=resourceData.originalname)
				if (resourceData.mimetype.includes('video'))
					i.fas.fa-file-video
				else
					i.fas.fa-file-image
				span.title-text &nbsp;!{resourceData.originalname}
			br
			span.metadata #{resourceData.meta.timestamp} (#{resourceData.meta.size})
			br
			- var domain = resourceData.domain || 'https://ass.rip';
			.buttons(class=resourceId style='display: none;')
				button.resource-buttons(class=resourceId onclick=`window.location = '${domain}/${resourceId}/direct?download=yes';`): i.fas.fa-download
				button.resource-buttons(class=resourceId onclick=`copyUrl('${domain}/${resourceId}');`): i.fas.fa-clone
				button.resource-buttons(class=resourceId onclick=`window.open('${domain}/${resourceId}/delete/${resourceData.deleteId}');`): i.fas.fa-trash-alt

title ass-x Dashboard
center.blur.unblur#content
	h2#welcome Welcome, #{user.username}!
	h4#total-uploads #[i.fas.fa-cloud-upload-alt] #{totalUploads}
	//-h4#total-uploads #[i.fas.fa-photo-video] #{totalUploads}
	#uploads: each resource, _index in uploads
		+resource(resource[0], resource[1])
	#nav
		h4#page-number Page #{pages.page}
		h4#nav-buttons
			if (pages.page > 1)
				a.nav(href=`?page=${pages.previous}`) #[i.fal.fa-chevron-circle-left]
			if (totalUploads - (pages.pagination + pages.size) > 0 )
				a.nav(href=`?page=${pages.next}`) &nbsp; #[i.fal.fa-chevron-circle-right]
	+brand
#viewer(style='display: none;' onclick='closeViewer();'): #viewer-frame: <!-- None -->

style: include user.css
script
	include user.js
